{{extend 'layout.html'}}

{{link=URL(r=request,f='docstring')}}

<h2>Полный API</h2>

<br/><br/>

<b>Объекты-контейнеры</b>
{{=CODE("request, response, session, cache", language="web2py",
link=link, counter=None)}}

<b>Функции и объекты для перенаправления</b>
{{=CODE("redirect, HTTP", language="web2py",
link=link, counter=None)}}

<b>Потокобезопасный модуль импорта уровня приложения</b>
{{=CODE("local_import", language="web2py",
link=link, counter=None)}}

<b>Интернационализация i18n</b>
{{=CODE("T", language="web2py",
link=link, counter=None)}}

<b>Помощники для содания представлений</b>
{{=CODE("XML, URL, BEAUTIFY", language="web2py",
link=link, counter=None)}}

<b>Помощники для создания HTTP-объектов</b>
{{=CODE("""A, B, BODY, BR, CENTER, CODE, DIV, EM, EMBED, FIELDSET, FORM, 
H1, H3, H3, H4, H5, H6, HEAD, HR, HTML, IFRAME, IMG, INPUT, 
LABEL, LI, LINK, OL, UL, MENU, META, OBJECT, ON, OPTION, P, PRE, 
SCRIPT, SELECT, SPAN, STYLE,  TABLE,  TD, TAG, TBODY,
TEXTAREA, TFOOT, TH, THEAD, TITLE, TR, TT""",
language="web2py",link=link, counter=None)}}

<b>Объекты-валидаторы</b>
{{=CODE("""IS_ALPHANUMERIC, IS_DATE, IS_DATETIME, 
IS_DATE_IN_RANGE, IS_DATETIME_IN_RANGE, IS_DECIMAL_IN_RANGE, IS_EMAIL,
IS_EXPR, IS_FLOAT_IN_RANGE, IS_IMAGE, IS_INT_IN_RANGE, IS_IN_SET,
IS_IPV4, IS_LENGTH, IS_LOWER, IS_MATCH, IS_EMPTY_OR, IS_NOT_EMPTY, 
IS_TIME, IS_URL, IS_UPLOAD_FILENAME, IS_LIST_OF, IS_UPPER, 
IS_SLUG, IS_STRONG, CLEANUP, CRYPT, IS_IN_DB, IS_NOT_IN_DB""",
language="web2py",link=link, counter=None)}}

<b>API базы данных</b>
{{=CODE("DAL, Field", language="web2py",
link=link, counter=None)}}

<b>Создание HTML-форм из таблиц БД</b>
{{=CODE("SQLFORM, SQLTABLE", language="web2py",
link=link, counter=None)}}
