{{extend 'layout.html'}}

{{if request.vars.revision:}}
  <div class="warning">This is an old revision of the page
    <a href="{{=URL(r=request,args=command)}}">click here</a>
    is latest version
  </div>
{{pass}}

{{if auth.user:}}
  <a href="{{=URL(r=request,f='edit_docstring',args=request.args)}}">
    <img src="{{=URL(r=request,c='static',f='images/editicon.png')}}" 
    align="right"/>
  </a>
  
  <blockquote>
    Link as "<tt>docstring/{{=command}}</tt>"
  </blockquote>
{{pass}}

<h2>Информация "<tt>{{=command}}</tt>"</h2>

{{=content}}

<h3>Атрибуты</h3>

{{for a in attributes:}}
  <!--a href="{{=URL(
  r=request,
  args=request.args + [a]) if len(request.args)==1 else ''}}">
  .{{=a}}
  </a>
  //-->
  
  <b>.{{=a}}</b>
  {{=wiki(attributes[a])}}
{{pass}}

<blockquote>
  This page is dynamically generated from the source code docstring
</blockquote>

{{if auth.user and auth.user.editor:}}
  <a href="{{=URL(r=request,f='log',args=(request.function,id))}}">
    Предыстория страницы
  </a>
{{pass}}

<br/><br/>
<h2>Комментарии пользователей</h2>
<br/><br/>

{{=plugin_comments(db.docstring,id)}}
