{{extend 'layout.html'}}

<h1>Документы и изображения</h1>

<h2>Загрузить новый Документ/Изображение</h2>
{{=form}}

<h2>Текущие Документы и Изображения</h2>

<table width="100%">
  {{for d in documents:}}  
    <tr>
      <td>
        <a href="{{=URL(r=request,f='download',args=d.file)}}">{{=d.title}}
        </a>
      </td>
      
      <td>
        <a href="javascript:alert('document/{{=d.file}}');">
          Ссылка на markdown
        </a>
      </td>
    </tr>
  {{pass}}
</table>
