{{extend 'layout.html'}}

<h1>Редактирование элемента книги</h1>

{{=form.custom.begin}}
<table>
  <tr>
    <td><b>Глава/Раздел</b></td>
    <td>{{=form.custom.widget.chapter_number}}/
      {{=form.custom.widget.section_number}}</td>
  </tr>
  
  <tr>
    <td><b>Заголовок</b></td>
    <td>{{=form.custom.widget.title}}</td>
  </tr>
  
  <tr>
    <td><b>Журнал изменений</b></td>
    <td>{{=form.custom.widget.changelog}}</td>
  </tr>
  
  <tr>
    <td><b>Содержимое</b></td>
    <td></td>
  </tr>
  
  <tr>
    <td colspan="2">{{=form.custom.widget.content}}</td>
  </tr>

  <tr>
    <td><b>Показывать</b></td>
    <td>{{=form.custom.widget.active}}</td>
  </tr>

  <tr>
    <td><b>{{=form.custom.submit}}</b></td>
    </td></td>
  </tr>
  
</table>

{{=form.custom.end}}
<hr/>

{{=plugin_wmd()}}
