{{extend 'layout.html'}}

<center>
  <h1>
    web2py
  </h1>
</center>

<br/>

<center>
  <h2>
    Full Stack Web Framework, 2th Ed.
  </h2>
</center>

<center>
  <img src="{{=URL(r=request, c='static', f="tree.jpg")}}"
    width="350" height="550"/>
</center>

<center>
  <h3>
    Copyright © 2008 Massimo Di Pierro. All rights reserved
  </h3>
</center>

<center>
  <h3>
    Перевод на русский язык © А.А.Беляков 2012</h3></center>
  </h3>
</center>

<br/>

<center>
  <h3>
    Замечания и предложения направляйте по адресу: aabelyakov@mail.ru
  </h3>
</center>

