{{extend 'layout.html'}}

<h1>Журнал для {{=tablename}}</h1>

<h2>"{{=record.title}}"</h2>
<br/><br/>

{{def formatdiff(diff):}}
  {{if diff:}}
    <table>
    {{for line in diff.split('\n'):}}
      <tr>
	<td style="color:{{='green' if line[:1]=='+' else 'red'}}">
	{{=line}}</td>
      </tr>
    {{pass}}
    </table>
  {{else:}}
    Нет изменений относительно предыдущей версии
  {{pass}}
{{return}}

<form action="" method="post">
  <table width="100%">
    <tr>
      <td></td>
      <td>
	{{if not record.active:}}
	  ЗАПРЕЩЕНО:
	{{pass}}
	
	{{link=URL(
	  r=request,
	  f=tablename,
	  args=(
	    record.chapter_number,
	    record.section_number) if tablename=='section' \
	      else record.slug if tablename=='wikipage' else record.title)}}
	      
	<a href="{{=link}}">{{=record.title}}</a>
	
	{{=logformat(record)}}
	текущая
      </td>
    </tr>
    
    <tr>
      <td></td>
      <td>
	<b>Журнал изменений:</b> {{=record.changelog or ''}}
	<button class="changelog">diff</button>
	<div class="popup">{{formatdiff(record.diff)}}</div>
      </td>      
    </tr>
    
    {{for k, item in enumerate(history):}}
      <tr>
	<td>
	  {{if k!=len(history)-1:}}
	    <input type="checkbox" name="h{{=item.id}}"/>
	  {{pass}}
	</td>
	
	<td>
	  {{if not item.active:}}
	    ЗАПРЕЩЕНО:
	  {{pass}}
	  
	  <a href="{{=URL(r=request, f=tablename,
	    vars=dict(revision=item.id))}}">
	    {{=item.title}}
	  </a>
	    
	  {{=logformat(item)}}
	  <button onclick="document.location='{{=URL(
	    r=request,
	    args=request.args,
	    vars=dict(restore=item.id))}}';return false;">восстановить
	   </button>
	</td>
      </tr>
    
      <tr>
	<td></td>
	<td>
	  <b>Журнал изменений:</b> {{=item.changelog or ''}}
	  <button class="changelog">diff</button>
	  <div class="popup">{{formatdiff(item.diff)}}</div>
	</td>
      </tr>
    
    {{pass}}
  </table> 
  
  {{if len(history) > 1:}}
    <button onclick=
      "jQuery('input[type=\'checkbox\']').attr('checked','checked');
      return false;"/>отметить все
    </button>
    
    <button onclick=
      "jQuery('input[type=\'checkbox\']').attr('checked',null);
      return false;"/>разотметить все
    </button>
  {{pass}}
  
  <input type="submit" value="удалить выделенное"/>
</form>

<script>
jQuery(document).ready(function() {
  jQuery('.popup').hide();
  jQuery('.changelog').each(function() {
    jQuery(this).click(function() {
      jQuery(this).next().slideToggle();
      return false;
    });
  }); 
});
</script>
