{{extend 'layout.html'}}

<h1>Ограниченный доступ</h1>

<blockquote>
Только редакторы могут иметь доступ к запрошенной Вами функции
<br/>
Вы можете только создавать и редактировать wiki-страницы, а также оставлять 
комментарии
<br/>
Если Вы хотите быть редактором, обращайтесь по адресу:
<a href="mailto:mdipierro@cs.depaul.edu">это e-mail Massimo</a>.
</blockquote>
