{{extend 'layout.html'}}

<h2>Результат поиска для "{{=request.vars.search}}":</h2>
<table width="100%"><tr><td>
<br/>
<div width="300px">
  {{for section in sections:}}
    <a href="{{=URL(
      r=request,
      f='section',
      args=[section.chapter_number,section.section_number],
      vars=dict(search=request.vars.search))}}">{{=section.title}}
    </a>
    <br/>
  {{pass}}
</div>

</td><td>

{{if request.vars.search in globals():}}
  <h3>Строки документирования для "<tt>{{=request.vars.search}}</tt>"</h3>
  <br/><br/>
  <a href="{{=URL(
    r=request,
    f='docstring',
    args=request.vars.search)}}">
    {{=request.vars.search}}
  </a>
  <br/><br/>
{{pass}}

<!--
{{if request.vars.search:}}
  <h3>Результаты поиска в Группах Google:</h3>
  <br/><br/>
  <div id="searchcontrol">Загрузка</div>
      <script src="http://www.google.com/jsapi"
          type="text/javascript">
      </script>
      
      <script language="Javascript" type="text/javascript">
        //<![CDATA[
        google.load('search', '1');
        
        function OnLoad() {
          // Create a search control
          var searchControl = new google.search.SearchControl();
          searchControl.addSearcher(new google.search.WebSearch());
          searchControl.draw(document.getElementById("searchcontrol"));
          searchControl.execute(escape("{{=request.vars.search}}") +' site:groups.google.com/group/web2py');
        }
        google.setOnLoadCallback(OnLoad);
        //]]>
      </script>
    </head>
{{pass}}
//-->

</td></tr></table>
