{{extend 'layout.html'}}

{{if request.vars.revision:}}
  <div class="warning">Это предыдущая версия страницы 
    <a href="{{=URL(r=request, args=(section.chapter_number,
      section.section.number))}}">click here
     </a>
    является последней версией
  </div>
{{pass}}

{{if not section.active:}}
  <div class="deprecated">Эта страница не активна</div>
{{pass}}

{{if auth.user and auth.user.editor:}}
  <a href="{{=URL(r=request,f='edit_section',args=request.args)}}">
    <img src="{{=URL(r=request,c='static',f='images/editicon.png')}}" 
    align="right"/>
  </a>
  <blockquote>
    Link as "<tt>section/{{=section.chapter_number}}/
      {{=section.section_number}}</tt>"
  </blockquote>
{{pass}}

{{=content}}

{{if auth.user and auth.user.editor:}}
  <a href="{{=URL(r=request,f='log',
    args=(request.function,section.id))}}">Предыстория страницы
  </a>
{{pass}}

{{if request.vars.search:}}
  <script>
    jQuery(document).ready(function() {
      jQuery('.article').highlight(
        {{=repr(request.vars.search)}}
      );
    });
  </script>
{{pass}}

<center>
  {{if back:}}
    <a href="{{=back}}">Предыдущая</a>
  {{pass}}
  
  {{if back and forward:}} 
    / 
  {{pass}}
    
  {{if forward:}}
    <a href="{{=forward}}">Следующая</a>
  {{pass}} 
</center>

<br/><br/>

<!-- Отключено
<h2>Связанные Wiki-страницы</h2>
<ul>
{{for page in pages:}}
  <li><a href="{{=URL(r=request,f='wikipage',args=page.slug)}}">
  {{=page.title}}</a></li>
{{pass}}

<li><a href="{{=URL(r=request,f='create_wikipage',args=section.id)}}">
  Создать новую wiki-страницу...</a></li>
</ul>

{{if section.chapter_number > 0:}}
  <br/><br/>
  <h2>Комментарии пользователя</h2>
  <br/><br/>
  {{=plugin_comments(db.section,section.id)}}
{{pass}}
-->