{{extend 'layout.html'}}

<h2>{{=request.args(0).replace('_',' ').capitalize()}} страница</h2>

{{if request.args(0)=='login':}}
  <blockquote>
    By logging into this system you accept that:
    <ul>
      <li>You have the copyright to the material you are contributing to</li>
      
      <li>You give such copyright to Massimo Di Pierro who may use your 
        contribution in any way he desires, including distribution for 
        commericial purposes and/or distribution under an Open Source License
      </li>
  
      <li>You retain the right to also distribute the text of your 
        contribution (and only that part) in any form you desire
      </li>
  
      <li>The complete content of this web site is licensed under the 
        Artistic License 2.0
      </li>
    </ul>
  </blockquote>
{{pass}}

<blockquote>
  THIS IS NOT A PLACE TO ASK QUESTIONS, SUBMIT BUGS OR COMPLAINTS. If you have 
  a quesiton ask on the 
  <a href="http://groups.google.com/group/web2py">Google Group</a>. 
  Bug reports should be submitted to 
  <a href="http://code.google.com/p/web2py">Google code</a>. 
  For complaints email the author. If you open here a wiki page or a thread 
  discussion with a question or a complaint you will be banned.
</blockquote>

<blockquote>
  {{=form}}
  {{if request.args(0)=='login':}}
    <a href="{{=URL(r=request,args='register')}}">Регистрация</a>
    <br />
    <a href="{{=URL(r=request,args='retrieve_password')}}">
      Восстановление пароля
    </a>
    <br />
  {{pass}}
</blockqoute>
