{{extend 'layout.html'}}

{{if request.vars.revision:}}
  <div class="warning">This is an old revision of the page
    <a href="{{=URL(r=request,args=page.slug)}}">click here</a>
    is latest version
  </div>
{{pass}}

{{if not page.active:}}
  <div class="deprecated">This page is deprected</div>
{{pass}}

{{if auth.user:}}
  <a href="{{=URL(r=request,f='edit_wikipage',args=request.args)}}">
    <img src="{{=URL(r=request,c='static',f='images/editicon.png')}}" 
    align="right"/>
  </a>
  
  <blockquote>
    Link as "<tt>wikipage/{{=page.slug}}</tt>"
  </blockquote>
{{pass}}

<h1>{{=page.title}}</h1>

{{=content}}

{{if auth.user and auth.user.editor:}}
  <a href="{{=URL(r=request,f='log',args=(request.function,page.id))}}">
  page history
  </a>
  /
{{pass}}

<a href="{{=URL(r=request,f='section',
  args=(section.chapter_number,section.section_number))}}">read more ...
</a>

{{if request.vars.search:}}
  <script>
    jQuery(document).ready(function(){
      jQuery('.article').highlight({{=repr(request.vars.search)}});});
  </script>
{{pass}}

<br/><br/>
<h2>Комментарии пользователей</h2>
<br/><br/>

{{=plugin_comments(db.wikipage,page.id)}}
