{{extend 'layout.html'}}

<h1>Wiki-страницы</h1>
<ul>

{{for page in pages:}}
  <li>

  {{if not page.active:}}
    ЗАПРЕЩЕНО!
  {{pass}}

  <a href="{{=URL(r=request,f='wikipage', args=page.slug)}}">{{=page.title}}
  </a>

  </li>    
{{pass}}     

  <li><a href="{{=URL(r=request,f='create_wikipage')}}">
    Создать новую wiki-страницу...</a>
  </li>
</ul>
