<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="{{=T.accepted_language or 'en'}}">

  <head>
    <!--Содержимое тега <head> не отображается напрямую на веб-странице, 
    за исключением тега <title>, устанавливающего заголовок окна браузера--> 
    <title>{{=response.title or request.application}}</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- включить необходимые CSS-файлы
    {{response.files.append(URL(
      request.application,'static','base.css'))}}
    {{response.files.append(URL(
      request.application,'static','ez-plug-min.css'))}}
    //-->

    {{response.files.append(URL(
      r=request, c='static', f='jquery.highlight.js'))}}
    {{response.files.append(URL(
      r=request, c='static', f='jquery.qtip-1.0.0-rc3.min.js'))}}
    {{response.files.append(URL(
      r=request, c='static', f='LaTeXMathML.standardarticle.css'))}}
    {{response.files.append(URL(r=request, c='static', f='LaTeXMathML.js'))}}
  
    <!--Место вставки шаблона для использования AJAX-->  
    {{include 'web2py_ajax.html'}}
  
    <script type="text/javascript">
      <!-- Скрытие этого текста от браузеров не понимающих JavaScript
      /* добавление класса sfhover в li-элементы меню для того, чтобы работал
      браузер IE6 */
      jQuery(document).ready(function() {
        jQuery('li.web2py-menu-expand').hover(function() {
          jQuery(this).addClass('sfhover');
        }, function() {
          jQuery(this).removeClass('sfhover');
        });
      });
      //-->
    </script>
  </head>

  <body>
    <!--Флеш-сообщение-->  
    <div class="flash">{{=response.flash or ''}}</div>
    
    <!--Обёртка базового шаблона-->
    <div class="ez-wr wrapper layout">
    
      <!--Обёртка для заголовка и подзаголовока HTML-страницы-->
      <div class="ez-box header">
        <h1>
          <!--Заголовок HTML-страницы-->
          {{=A(response.title or request.application, _href=URL(
            request.application,'default','index'))}}
        </h1>      
          <!--Подзаголовок HTML-страницы-->      
          <h3>{{=response.subtitle or ''}}</h3>
      </div>

      <!--Строка отображения состояния пользователя-->
      <div class="ez-box statusbar">
        {{if 'auth' in globals():}}
          <!--Включено установление личности пользователя-->
          {{if not auth.user:}} [
            <!--Пользователь не вошёл в систему-->
            {{=A('Вход',_href=URL(r=request,c='default',
              f='user/login'))}} |
            {{=A('Регистрация',
              _href=URL(r=request,c='default', 
              f='user/register'))}} 
            ]
          {{else:}}
            <!--Пользователь вошёл в систему-->
            {{=('Добро пожаловать, %s!' % auth.user.first_name)}} [
              {{=A('Выход', _href=URL(r=request,c='default',
                f='user/logout'))}} |
              {{=A('Ред.профиль',
                _href=URL(r=request,c='default',
                  f='user/profile'))}} |
              {{=A('Изменить пароль',
                _href=URL(r=request,c='default',
                  f='user/change_password'))}}
            ]
          {{pass}}
        {{pass}}
      </div>

      <!-- ez-css Module 2A смотри http://www.ez-css.org/layouts-->
      <div class="ez-wr">
        <div class="ez-fl ez-negmr">
          <div class="ez-box width15em column1">
          
            <form enctype="multipart/form-data"
              action="{{=URL(r = request, f = 'search')}}">
              <input value="" name="search" />
              <input type="submit" value="Поиск"/>
            </form>

            <table>
              {{for item in toc:}}
                <!--Цикл по элементам оглавления книги-->
                {{if str(item.chapter_number) == request.args(0) or \
                  item.section_number == 0:}}
                  <tr> <!--Строка таблицы-->
                    {{if item.section_number > 0:}}
                      <!--Это не название главы-->
                      <td width="5px"></td><!--Первая ячейка строки длиной 
                      5px - отступ-->
                      <td><!--Начало второй ячейки- для вывода названия
                      раздела-->
                    {{else:}}
                      <!--Это название главы-->
                      <td colspan="2"><!--Начало объединённой ячейки для
                      вывода названия главы книги-->
                    {{pass}}
                    
                      <!--Вывод названия главы или раздела-->
                      <a href="{{=URL(r=request, f='section',
                        args=(item.chapter_number, item.section_number))}}">
                        {{=item.title}}
                      </a>
                      
                      </td><!--Конец единственной объединённой ячейки или 
                      второй ячейки-->
                    
                  </tr><!--Строка таблицы-->
                {{pass}}
              {{pass}}
         
            </table>
            
          </div><!--class="ez-box width15em column1"-->
        </div><!--class="ez-fl ez-negmr"-->
 
        <div class="ez-last ez-oh">
          <!--include - это место для вставки шаблонов пользователя, 
          например index.html или section.html-->
          <div class="ez-box expandable">{{include}}</div>
        </div><!--class="ez-last ez-oh"-->
        
      </div><!--class="ez-wr"-->
      
      <!--Подвал базового шаблона layout.html-->
      <div class="ez-box footer">
        w2pbook is powered by <a href="http://www.web2py.com">web2py.</a>
        Copyright &copy; 2008 Massimo Di Pierro 
        <p>  
        w2pbookru разработан на базе w2pbook. &copy; А.А.Беляков 2012
      </div>
      
    </div> <!--Обёртка базового шаблона-->
  </body>
</html>
